<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

     <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.availableDetailsActivity">

        </activity>
        <activity android:name=".activities.availableJobFetchingActivity">

        </activity>
        <activity android:name=".activities.jobFetchingActivity">

        </activity>
        <activity android:name=".activities.jobInsertionActivity">

        </activity>
        <activity android:name=".activities.postedDetailsActivity">

        </activity>
        <activity android:name=".activities.FetchingActivity">

        </activity>
        <activity android:name=".activities.InsertionActivity">

        </activity>
        <activity android:name=".activities.RegisterActivity">

        </activity>
        <activity android:name=".activities.SelectionActivity">

        </activity>
        <activity android:name=".activities.JobMainActivity">

        </activity>
        <activity android:name=".activities.MainActivity">

        </activity>
        <activity android:name=".activities.CategorySelection">

        </activity>
        <activity android:name=".activities.SupportInsertionActivity">

        </activity>
        <activity android:name=".activities.SupportFetchingActivity">

        </activity>
        <activity android:name=".activities.SupportMainActivity">

        </activity>
        <activity android:name=".activities.UserDetailsActivity">

        </activity>
  
        <activity
            android:name=".activities.ReviewDetails"
            android:exported="false" />
        <activity
            android:name=".activities.FetchingReview"
            android:exported="false" />
        <activity
            android:name=".activities.InsertionReview"
            android:exported="false" />
  
        <activity
            android:name=".activities.RWMainActivity"
            android:exported="false">
            
        </activity>
        
        <activity
            android:name=".activities.EmployeeDetailsActivity"
            android:exported="false" />

    </application>

</manifest>